<!DOCTYPE html>
<html lang="en">
<app-head></app-head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <app-navbar></app-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <app-nav></app-nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">RoyalUI Dashboard</h4>
                </div>
                <div>
                  <button type="button" class="btn btn-success btn-icon-text btn-rounded">
                    <i class="ti-printer btn-icon-prepend"></i>Ajouter un fichier
                  </button>
                </div>
                <div>
                  <button type="button" class="btn btn-primary btn-icon-text btn-rounded">
                    <i class="ti-printer btn-icon-prepend"></i>Ajouter un article
                  </button>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary btn-icon-text btn-rounded">
                      <i class="ti-printer btn-icon-prepend"></i>Imprimer
                    </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Modifier un Article</h4>
                <p class="card-description">
                  Modifier un Article
                </p>
                <form class="forms-sample">
                  <div class="form-group" hidden>
                    <label for="exampleInputName1">Id</label>
                    <input type="text" [(ngModel)]="currentArticle.id" name="id" class="form-control" id="exampleInputName1" placeholder="Nom">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputName1">Nom</label>
                    <input type="text" [(ngModel)]="currentArticle.designation" name="designation" class="form-control" id="exampleInputName1" placeholder="Designation">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword4">Prix</label>
                    <input type="number" [(ngModel)]="currentArticle.prixAchatTtcEntier" name="prixAchatTtcEntier" class="form-control" id="exampleInputPassword4" placeholder="Prix Achat Ttc Entier">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputCity1">Quantité</label>
                    <input type="number" class="form-control" [(ngModel)]="currentArticle.quantiteEntier" name="quantiteEntier" id="exampleInputCity1" placeholder="Quantité Entier">
                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea1">Commentatire</label>
                    <textarea class="form-control" [(ngModel)]="currentArticle.commentaire" name="commentatire" id="exampleTextarea1" rows="4"></textarea>
                  </div>
                  
                  <button type="submit" class="btn btn-primary me-2" (click)="updateArticle()">Submit</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>2021</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Only the best <a href="https://www.bootstrapdash.com/" target="_blank"> Bootstrap dashboard </a> templates</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <app-footer></app-footer>

</body>

</html>

